<div class="user-profile-wrapper">
  <app-navbar></app-navbar>
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h2>Howdy, {{ user.Username }}!</h2></mat-card-title
      >
    </mat-card-header>
    <mat-card-content class="card-content">
      <p><b>Username</b>: {{ user.Username }}</p>
      <p><b>Password: ********</b></p>
      <p><b>Email</b>: {{ user.Email }}</p>
      <p><b>Birth Date</b>: {{ user.BirthDate | date: "MM/dd/yyyy":"UTC" }}</p>
    
    </mat-card-content>
    <p class="fave-style"><b>Favorite Movies: </b>{{user.FavoriteMovies && user.FavoriteMovies.join(', ')}}</p>
    <button
    class="float-right"
    mat-raised-button
    color="primary"
    (click)="openEditProfileDialog()"
  >
    Edit
  </button>
  </mat-card>
</div>
